Package: dev.quiprr.redditna
Name: RedditNA
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An 8 line tweak to remove Reddit ads.
Maintainer: quiprr
Author: quiprr
Section: Tweaks
